.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --color-primary: #ff0032ff !important;
  --color-gradient-start: #ff0032ff !important;
  --color-gradient-stop: #ff0032ff !important;
  --lqd-cc-active-bw: 1px;
}

.ld_button_634d4b2e118df.vc_custom_1602667824194 {
  box-shadow: 0 8px 12px rgba(255, 0, 40, 0.3); /* Красная полупрозрачная тень */
}

.ld_button_634d4b2e20f9d {
  box-shadow: 0 8px 12px rgba(255, 0, 40, 0.3); /* Красная полупрозрачная тень */
}